@import "tailwindcss";
@import "@fontsource-variable/dm-sans";

@theme {
  --default-font-family: "DM Sans Variable", "sans-serif";

  --color-background: rgb(49, 51, 56);
  --color-light: rgb(64, 68, 75);
  --color-light-hl: rgb(79, 84, 92);
  --color-dark: rgb(35, 36, 40);
  --color-dark-hl: rgb(24, 25, 28);
  --color-text: rgb(220, 221, 222);
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
